{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title %}Reserved Now{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="heading">
                <h1>Reserved Now</h1>
            </div>
            <hr class="hr-line">
            <form action="" method="POST" class="small-push">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit" class="button">
            </form>
        </div>
    </div>
{% endblock %}