/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}
h2,
h3,
a {
	color: #093a58;
}
h2,
h3 {
	margin-top: 0;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #093a58;
}

/*background: #1583cc;*/

.button {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .25s ease-out;
    border: 1px solid transparent;
    border-radius: 0;
    padding: .85em 1em;
    margin: 0 1rem 1rem 0;
    font-size: .9rem;
    background: #57cec2;
    color: #fff;
    margin-left: 20px;
}

[data-whatinput=mouse] .button {
    outline: 0
}

.button:focus,
.button:hover {
    background: #19b4ce; /*#1583cc*/
    color: #fff
}



/* ---- Forms ---- */

.col-md-8 {
    margin-left: 20px;
    padding-left: 5px;
}

/*
#div_id_email {
    margin-left: 20px;
    width: 35px;
}
*/

.form-group {
    margin-left: 20px;
    padding-bottom: 25px;
}

.textinput {
    width: 95%;
    height: 30px;
}

.textinput:hover,
.textinput:focus {
    border-color: #3acec2;
}

.emailinput {
    width: 95%;
    height: 30px;
}

.emailinput:hover,
.emailinput:focus {
    border-color: #3acec2;
}

.textarea {
    width: 95%;
}

.textarea:hover,
.textarea:focus {
    border-color: #3acec2;
}

.select {
    width: 95%;
    height: 30px;
}

.select:hover,
.select:focus {
    border-color: #3acec2;
}

.datetimeinput {
    width: 95%;
    height: 30px;
}

.datetimeinput:hover,
.datetimeinput:focus {
    border-color: #3acec2;
}

/*
div[id="div_id_first_name"] {

}
*/

/*
input[name="first_name"] {
    width: 25%;
}

input[name="last_name"] {
    width: 25%;
    left: 45%;
}
*/

.small-push {
    margin-top: 25px;
}

@media (min-width: 769px) {

    .select {
        width: calc(95% - 25px);
    }

    .textinput {
        cacl(95% - 25px)
    }

    .emailinput {
        cacl(95% - 25px)
    }

    .datetimeinput {
        cacl(95% - 25px)
    }
}

/* ---- Layout Containers ---- */

.col-p {
	padding-right: 1em;
	padding-left: 1em;
}

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.banner,
.main-footer {
	text-align: center;
}

.banner {
	color: #fff;
	background: #3acec2;
	padding: 3.2em 0;
	margin-bottom: 48px;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

.small-6 {
    width: 50%;
}

.column.small-centered,
.small-centered.columns {
    float: none;
    margin-left: auto;
    margin-right: auto
}



/* ---- Page Elements ---- */

.logo {
	width: 200px;
    border: solid 4px #000;
    border-radius: 4px;
}
.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 5px;
}

/* ---- Style Elements ---- */

.link_hov:hover {
	background-color: #3acec2;
	color: #fff;
}

#each_link2:hover {
    color: #fff;
}

.container_one{
	margin: 45px auto;
	padding: 10px;
	background: #fff;
  	border-radius: 5px;
  	box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
}

.activity_links {
	padding: 15px;
	border-radius: 3px;
	margin-top: 25px;
}
/*
.package_links:hover {
	color: rgba(9, 58, 88,0.8);
}
*/

.package:hover {
    border: solid 2px #093a58;
}

.package {
	border: solid 2px #3acec2;
	padding: 15px;
	border-radius: 3px;
	margin-top: 12px;
}

.each_link {
	margin-top: 10px;
}

.heading {
    margin-left: 14px;
}

.small-push-right {
    width: 85%;
    margin-left: 30px;
    padding-left: 12px;
}

.hr-line {
    border-bottom: solid 2px #3acec2;
    width: 98%;
}

#act-list {
    margin-left: 24px;
    margin-top: -35px;
}

.alert-danger {
    background: rgb(223, 117, 20);
    margin-left: 20px;
    width: 360px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 3px;
}

.help-block {
    background: rgb(223, 117, 20);
    color: #fff;
    width: 200px;
    text-align: center;
    border-radius: 3px;
}

.success {
    background: #3acec2;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    max-width: 275px;
}

.feat-img {
    border-radius: 5px;
}

.fix_img {
    width: 100%;
}

figcaption {
    font-size: .9em;
	line-height: 1.5;
	color: #fff;
	padding: 1em;
	background: rgba(19,43,102, .85);
    border-radius: 5px;

    position: absolute;
    width: 100%;
    bottom: 0;
}

figure {
	margin: 0;
	line-height: 0;
    position: relative;
}

.fig {
    color: #fff;
}

.icon-location {
    position: absolute;
    width: 35px;
    top: -15px;
    right: -15px;
  }

.items {
    padding-left: 10px;
    padding-right: 10px;
}

article p {
    margin-left: 75px;
}

.li-pads {
    padding-bottom: 7px;
}

.top-small-push {
    margin-top: 12px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
	.main-header{
		width: 90%;
		margin: 0 auto;
	}

	.tagline {
		font-size: 1.4em;
	}

}

@media (min-width: 1025px) {
	.main-header{
		width: 80%;
		max-width: 1150px;
	}

}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
    .main-header,
    .main-nav{
        display: flex;
    }

    .main-header {
        flex-direction: column;
        align-items: center;
        position: fixed;
        background: #fff;
        box-shadow: 0 1px 4px rgba(0,0,0, .4);
        min-width: 100%;
        top: 0;
        z-index: 1;
    }

    .main-nav {
        margin-right: 30px;
    }

    .name {
        margin-left: 12px;
    }

    body {
        padding-top: 72px;
    }

    .col {
        flex: 1;
    }

    .row-p {
        width: 90%;
        margin: 0 auto;
        display: flex;
    }

    .col-p {
        flex: 1 50%;
    }

    .row-p {
        flex-wrap: wrap;
    }

    .secondary {
        order: -1;
    }

}

@media (min-width: 1025px) {
    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .primary {
        flex: 2;
    }

    .row-p {
		width: 80%;
		max-width: 1150px;
	}

    .col-p {
        flex-basis: 0;
    }

    .primary-3 {
        flex-grow: 1.4;
    }

}

@media (max-width: 768px) {
    .ul-push {
        margin-left: 10px;
        margin-bottom: 20px;
    }

}
